<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Introduction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <script>
        Vue.component('todo-item',{
            template: '<li>{{todo.text}}</li>',
            // The todo-item component accepts a
            // "prop", which is like a custom attribute.
            // This prop is called todo
            props: ['todo'],
        })
    </script>
    <div id="vm">
        <!-- An example of text interpolation -->
        {{message}}
        <!-- Binding of element attributes -->
        <div>
            <span :title="hoverMessage">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>
        <!-- Conditionals and Loops -->
        <div>
            <span v-if="seen">Now you see me</span>
        </div>
        <!--  -->
        <!--  -->
        <!--  -->
        <div>
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>
        <!-- Handling User Input -->
        <p>{{message}}</p>
        <button @click="reverseMessage">
            Reverse Message
        </button>
        <!--  -->
        <!--  -->
        <!--  -->
        <p>{{message}}</p>
        <input v-model="message">
        <!-- Composing with Components -->
        <ol>
            <todo-item
                v-for="item in groceryList"
                :todo="item"
                :key="item.id"
            >
            </todo-item>
        </ol>
    </div>
    <script>
        new Vue({
            el: "#vm",
            data: {
                message: "Hello Vue!",
                hoverMessage: "You loaded this page on " + new Date().toLocaleString(),
                seen: true,
                todos: [
                    {text: 'Learn JavaScript'},
                    {text: 'Learn Vue'},
                    {text: 'Build something awesome'},
                ],
                groceryList: [
                    {id: 1, text: 'Vegetables'},
                    {id: 2, text: 'Cheese'},
                    {id: 3, text: 'Whatever else humans are supposed to eat'},
                ]
            },
            methods: {
                reverseMessage: function(){
                    this.message = this.message.split('').reverse().join('');
                }
            }
        })
    </script>
</body>

</html>